a {
  color: #000000c4;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
}

.fa {
  margin-right: 12px;
  font-weight: bold;
  font-size: 1.3rem;
  color: #2196F3;
}

.fa-plus {
  margin-right: 0;
}

.space {
  margin-right: 5px;
}

.active {
  font-weight: bold;
}

.remove-left-padding {
  padding-left: 0;
}

.main-wrapper {
  width: 100%;
}

#logo {
  font-weight: bold;
  letter-spacing: 2px;
  color: #000000c4;
}

.navbar {
  width: 100%;
  border-bottom: 2px solid #00000059;
  margin-bottom: 30px;
}

.nav li {
  display: flex;
  margin: 0 5px;
}

.cars-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
}

.card {
  width: 230px;
  border: 1px solid #00000061;
  text-align: center;
  margin-bottom: 30px;
}

img {
  width: 100%;
}

.card-bottom {
  padding: 5px;
}

.content {
  width: 90%;
  margin: auto;
}

.car-details {
  width: 90%;
  box-sizing: border-box;
  padding: 15px;
  margin: auto;
  display: flex;
  border-bottom: 2px solid #00000059;
}

.car-img {
  width: 40%;
  margin-right: 30px;
}

.car-info {
  width: 40%;
}

.car-info span {
  display: block;
}

.car-actions {
  display: flex;
}

.owner-section {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 15px;
}

.owner-stamp, .comment-author {
  display: flex;
  align-items: center;
}

.owner-img, .comment-img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.owner-img:hover, .comment-img-wrapper:hover {
  cursor: pointer;
}

.timestamp {
  color: #0000004f;
  font-size: 0.6rem;
}

.comment-wrapper {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: 2px solid #0000001f;
}

.comment-header {
  display: flex;
  flex-direction: column;
}

.comment-text {
  padding-left: 55px;
}

.comments-counter {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 5px;
}

.profile-wrapper, .login-wrapper {
  width: 60%;
  box-sizing: border-box;
  padding-top: 30px;
  margin: auto;
}

.modal-icon {
  text-align: right;
  margin-bottom: 15px;
}

.modal-icon:hover, .collapse-icon:hover {
  cursor: pointer;
}
